@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

body {
    padding-bottom: 20px;
    font: 20px 'Droid Sans', sans-serif;
    line-height: 1.5em;
    background-color: #fff;
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffad33;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#page-container {
    position: relative;
    min-height: 94vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: black;
    background: border-box;
    margin-bottom: -17px;
    backdrop-filter: blur(20px);
}


#bodyviews {
    backdrop-filter: blur(20px);
    margin-top:10px;
}

#titles {
    padding-top: .25em;
    font-family: Rockwell;
    font-size: 4.25em;
    color: #b3b3b3;
    margin-bottom: -5px;
    text-shadow: 2px 2px 5px black;
}

#toppers {
    font-size: 1.2em;
    color: #b3b3b3;
}

#headline {
    font-family: Rockwell;
    font-size: 6em;
    color: #b3b3b3;
    text-shadow: 2px 2px 5px black;
    padding-bottom: .5em;
}

#slogan {
    font-size: 1.30em;
}

.btn-success {
    background-color: #bfbfbf;
    color: #398439;
    border-color: #47a447;
    border-radius: 25px;
}

    .btn-success:hover,
    .btn-success:focus,
    .btn-success:active {
        background-color: #47a447;
        color: #FFF;
        border-color: #398439;
    }

.btn-primary {
    background-color: #bfbfbf;
    color: #285e8e;
    border-color: #3276b1;
    border-radius: 25px;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
        background-color: #3276b1;
        color: #FFF;
        border-color: #285e8e;
    }

#links {
    color: #b3b3b3
}

dt {
    font-size: 1.1em;
    color: #b3b3b3;
}

#success {
    background-color: darkgreen;
    color: white;
}

#intro {
    padding: 70px;
}

#subtitle {
    font-size: 2.3em;
    color: #b3b3b3;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    backdrop-filter: blur(20px);
}

li {
    display: inline;
}

    li a {
        color: #ffad33;
        text-align: center;
        padding: 3px 10px;
        text-decoration: none;
    }

        li a:hover {
            background: #b3b3b3;
            transition: 0.5s;
            color: black;
        }

#borders {
    border-left: 4px solid #b3b3b3;
    border-top: 4px solid #b3b3b3;
    border-top-width:thick;
    padding-top:1em;
}
