@{
    ViewBag.Title = "About";
}
<h2 class="text-center" id="titles">About Jesse</h2>
<br />
<br />

<p class="text-center">This app represents a new chapter of my life. It is the crowning acheivement of my amazing software development course taken at Eleven Fifty. <br />I'm excited to see where I go from here. </p>
