@{
    ViewBag.Title = "Contact";
}
<h2 class="text-center" id="titles">Contact Info</h2>
<br />
<br />
<dl class="text-center">
    <dt>
        <a href="https://www.linkedin.com/in/jesse-southerland/">LinkedIn</a>
    </dt>
    <dt>
        <a href="https://jessesoutherland.github.io/Portfolio/">Portfolio</a>
    </dt>
    <dt>
        Email: jessemsoutherland@gmail.com
    </dt>
</dl>


<br />
