@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1 class="text-center" id="headline">Let's Jam</h1>
    <p class="lead text-center" id="slogan"><i>The #1 app for keeping track of your customers and your students. Don't just sell, teach.</i></p><br /><br />
        <p class="text-center"><a class="btn btn-success" href="Transaction/Create">Make a Sale</a></p>
    <p class="text-center"><a href="Enrollment/Create" class="btn btn-primary btn-lg">Enroll a New Rock Star!</a></p>
</div>

