@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Let's Jam</h1>
    <p class="lead text-center">The #1 app for keeping track of your customers and your students. Don't just sell, teach.</p><br /><br />
        <p class="text-center"><a class="btn btn-success" href="Transaction/Create">Make a Sale</a></p>
    <p class="text-center"><a href="Enrollment/Create" class="btn btn-primary btn-lg">Enroll a New Rock Star!</a></p>
</div>

